<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.t9dialer"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="34" />

    <!-- Permission to query installed apps -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:label="T9 Dialer"
        android:theme="@style/Theme.App.Dialog">

        <activity
            android:name=".T9Activity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.App.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
