name: Build Release APK

on:
  push:
    tags:
      - "v*" # Trigger on version tags like v1.0.0
  workflow_dispatch: # Allow manual trigger

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Remove Termux-specific AAPT2 path
        run: sed -i 's/^android.aapt2FromMavenOverride=/#&/' gradle.properties

      - uses: WaterLemons2k/apk-action@v1
        with:
          keystore: ${{ secrets.KEYSTORE }}
          keystore-password: ${{ secrets.KEYSTORE_PASSWORD }}
          key-alias: ${{ secrets.KEY_ALIAS }}
          key-password: ${{ secrets.KEY_PASSWORD }}

          java-version: "17"
          gradle-args: ""

      - uses: softprops/action-gh-release@v2
        with:
          files: app/build/outputs/apk/release/*.apk
